In [3]:
import pandas as pd
import os

In [30]:

inputfolder= '../Input_Data'
input_SCED_Data='SCED_Data.csv'
input_Demand_Data='DemandData.csv'
outputfolder= '../Output_Data'

In [31]:
SCED_data=pd.read_csv(os.path.join(inputfolder,input_SCED_Data))
Demand_data=pd.read_csv(os.path.join(inputfolder,input_Demand_Data))

In [23]:
int(SCED_data['Time'][0].split(':')[0].split()[1])

0

In [45]:
SCED_data['HE']=SCED_data['Time'].apply(lambda x: int(x.split(':')[0].split()[1])+1)

In [46]:
SCED_data.head()

,Time,Resource.Name,Resource.Type,SCED1.Curve.MW1,SCED1.Curve.Price1,SCED1.Curve.MW2,SCED1.Curve.Price2,SCED1.Curve.MW3,SCED1.Curve.Price3,SCED1.Curve.MW4,...,SCED1.Curve.Price31,SCED1.Curve.MW32,SCED1.Curve.Price32,SCED1.Curve.MW33,SCED1.Curve.Price33,SCED1.Curve.MW34,SCED1.Curve.Price34,SCED1.Curve.MW35,SCED1.Curve.Price35,HE
0,2016-05-05 00:00:00,AMOCOOIL_CC2_9,CCGT90,0,-250,197.0,-250.000000,197.383758,-249.990006,197.393753,...,0,0,0,0,0,0,0,0,0,1
1,2016-05-05 00:00:00,BASTEN_CC1_2,CCGT90,0,-250,265.0,-250.000000,265.000000,11.890000,313.000000,...,0,0,0,0,0,0,0,0,0,1
2,2016-05-05 00:00:00,BBSES_UNIT1,CLLIG,0,-250,0.0,16.860001,220.000000,16.900000,240.000000,...,0,0,0,0,0,0,0,0,0,1
3,2016-05-05 00:00:00,BORDAS_JAVEL20,WIND,0,-250,0.0,-43.000000,240.000000,-42.990002,240.000000,...,0,0,0,0,0,0,0,0,0,1
4,2016-05-05 00:00:00,BRAZ_WND_WND2,WIND,0,-250,0.0,-0.450000,70.000000,-0.440000,70.000000,...,0,0,0,0,0,0,0,0,0,1

In [35]:
Demand_data['HE']=Demand_data['Time'].apply(lambda x: int(x.split(':')[0].split()[1])+1)

In [48]:
SCED_data[SCED_data['HE']==1]['Resource.Name'].tolist()

['AMOCOOIL_CC2_9',
 'BASTEN_CC1_2',
 'BBSES_UNIT1',
 'BORDAS_JAVEL20',
 'BRAZ_WND_WND2',
 'BULLCRK_WND1',
 'BULLCRK_WND2',
 'BYU_CC1_4',
 'CEDROHIL_CHW1',
 'CHE_CC1_7',
 'CSEC_CSECG2',
 'DDPEC_CC1_4',
 'DNDAM_DENISOG1',
 'DUKE_CC1_2',
 'EXN_EXN_G14',
 'EXN_EXN_G2',
 'FPPYD1_FPP_G1_J01',
 'GOAT_GOATWIN2',
 'GRSES_UNIT1',
 'GRSES_UNIT2',
 'HHGT_HHOLLOW3',
 'HRFDWIND_JRDWIND1',
 'INDL_INADALE1',
 'INDNENR_INDNENR_2',
 'INGLCOSW_CC1_4',
 'KING_NE_KINGNE',
 'KING_SE_KINGSE',
 'LONEWOLF_G1',
 'LONEWOLF_G2',
 'LONEWOLF_G4',
 'LV3_UNIT_1',
 'MNSES_UNIT1',
 'NWF_NWF1',
 'OECCS_CC1_4',
 'OGSES_UNIT2',
 'PB2SES_CT4',
 'PC_NORTH_PANTHER1',
 'PENA_UNIT1',
 'PENA_UNIT2_J02',
 'PH1_UNIT2',
 'PSG_CC1_2',
 'PYR_PYRON1',
 'RIONOG_CC1_6',
 'SCLPCOGN_SCLPC_2',
 'SCLPCOGN_SCLPC_4',
 'SDSES_UNIT4',
 'SHANNONW_UNIT_1',
 'SPLAIN1_WIND2',
 'SPLAIN2_WIND22',
 'TGW_T1',
 'TKWSW1_ROSCOE']

In [49]:
import glpk as opt

ModuleNotFoundError: No module named 'glpk'